<ion-view title="Feedback">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content >
    <!-- List all existing favorites -->
  
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" ng-model="data.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Subject</span>
        <input type="text" placeholder="Subject" ng-model="data.subject">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Message</span>
        <textarea placeholder="Message" rows="6" ng-model="data.message"></textarea>
      </label>
 
      <button class="button button-full button-dark" ng-click="SendFeedback(data)">
       Send Feedback
      </button>
    </div>
    <!-- Display message when no favorites exist -->
 
  </ion-content>
</ion-view>
