<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Profile" ng-cloak ng-init="init()" active-screen="Profile" class="aio-empty-screen padding overflow-scroll">
    <div class="button-bar">
        <button class="button button-block">
            Bucketlist
        </button>
        <button class="button button-block">
            Profile
        </button>
        <button class="button button-block">
            Photos
        </button>
    </div>
    <img width="" height="" src="files/images/Dark-Silver-Gray-Hair.jpg" class="img-circle img-responsive"
    alt="Image error">
    <div class="list">
        <div class="item">
            <p>
            </p>
            Jade
        </div>
        <div class="item">
            <p>
            </p>
            26
        </div>
        <div class="item">
            <p>
            </p>
            Cebu, Philippines
        </div>
    </div>
</div>