 <ion-view>
    <ion-header-bar>

      <div class="icon ion-ios-arrow-back custom-icon-large" ng-click="closeItem()"></div>
    </ion-header-bar>

    <ion-content>
    <ion-slide-box 
    show-pager="false"  >
     <ion-slide  ng-repeat="item in capsulelist" ng-if ="$index != 0" >
    <div class="card">
	  <div class="item item-divider">
	     <img ng-src="{{item.dataUrl}}" width="100%" />
	  </div>
	  <div class="item item-text-wrap">
	  	 {{item.owner}}
	  	 <span class="item-capsule">
	  	   <i class="icon ion-ios-heart">{{item.hearts}}</i>
	  	   <i class="icon ion-chatbox">{{item.commentCount}}</i>
	  	   <i class="ion-android-more-vertical"></i>
	  	  </span>
    	</div>
    	  <div class="item item-text-wrap">
	  	 {{item.description}}
	  	
    	</div>
	  </ion-slide>
	</ion-slide-box>
    </ion-content>
  </ion-view>